{% extends 'base.html.twig' %}

{% block title %}Zapisy{% endblock %}

{% block body %}

    <div class="card p-4" style="min-height: 85vh">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <h1>{{ course.name }}</h1>
                <p>{{ course.description }}</p>


                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
